<?xml version="1.0" encoding="utf-8"?>
<configuration>

	

	<ConfigSettings>
		<add key="Order:HostName" value="185-167-96-77.cloud-xip.io" />
		<add key="Order:UserName" value="test" />
		<add key="Order:Password" value="test" />
		<add key="Order:Port" value="5672" />
		<add key="Order:QueueName" value="q.front.orders" />

		<add key="KitchenOrder:HostName" value="185-167-96-77.cloud-xip.io" />
		<add key="KitchenOrder:UserName" value="dima" />
		<add key="KitchenOrder:Password" value="Hxe6wpwQsMYnQb9" />
		<add key="KitchenOrder:Port" value="5672" />
		<add key="Order:QueueName" value="q.front.korders" />


		<add key="KitchenOrder:MessageQueue" value="q.front.orders" />

		<add key="app:OrderDbPath" value="C:\Users\Owner\Downloads\SDK1\alivery.net\alivery\alivery.db" />

	</ConfigSettings>
</configuration>